<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
            <exclude>
                <file>tests/unit/Model/Common/LocalizedStringTest.php</file>
                <file>tests/unit/Client/OAuth/ManagerTest.php</file>
            </exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Commercetools\Core\IntegrationTests\ErrorListener" file="tests/integration/ErrorListener.php">
        </listener>
    </listeners>
</phpunit>
