parameters:
  client_id: Your Composable Commerce client ID
  client_secret: Your Composable Commerce client secret
  project: Your Composable Commerce Project key
  oauth_url: https://auth.europe-west1.gcp.commercetools.com
  api_url: https://api.europe-west1.gcp.commercetools.com
  enableCorrelationId: 1
