parameters:
  client_id: Your Commercetools client ID
  client_secret: Your Commercetools client secret
  view_products-client_id: Your Commercetools client ID
  view_products-client_secret: Your Commercetools client secret
  project: Your Commercetools project key
  oauth_url: https://auth.sphere.io/oauth/token
  api_url: https://api.sphere.io
